body{
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url('../img/bg/zivopisnyi-vid-na-gory-i-ozero.jpg');
  background-repeat: no-repeat;      /* не повторювати зображення */
  background-size: cover;           /* покриває весь блок */
  background-position: center;      /*центрує зображення */
  background-attachment: fixed;     /* фіксує фон при прокручуванні*/ 
}



.page-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid teal;
  padding: 10px;
  background-color: rgb(192, 235, 255);
  margin-bottom: 10px;
  border-radius: 30px;
  z-index: 2;
}

.hero-section {
  min-height: calc(100vh - 80px);
  position: relative;
  margin-top: 100px;

  /* border-radius: 30px; */
  padding: 100px;

}

.scroll-down-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  gap: 14px;
  border: teal 1px solid;
  border-radius: 30px;
  background-color: #b8cdee88;
}

.hero-image-scroll:hover {
  background-color: #fcf1e0;
  color: #fd9222;
  border: 1px solid #fd9222;
}
.hero-icon-scroll-down {
  position: absolute;
  content: '';
  top: 50%;
  right: 50%;
  color: #e100ff;
  transform: translate(50%, -50%);
}

/* --------------Плаваюча------------------------- */
.swim-scroll {
  display: inline-flex;
  animation: bounce 1.5s infinite;
  position: relative;
  background-color: rgba(218, 218, 218, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(155, 114, 250) solid;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

/* --------------Стрибаюча------------------------- */
.jump-scroll {
  display: inline-flex;
  animation: springBounce 1.5s infinite;
  position: relative;
  background-color: rgba(218, 218, 218, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(155, 114, 250) solid;
}
@keyframes springBounce {
  0% {
    transform: translateY(-4);
  }
  30% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-4);
  }
}

/* -------------Гойдаюча-------------------- */
.swing-scroll {
  display: inline-flex;
  animation: swing 2s infinite ease-in-out;
  position: relative;
  background-color: rgba(218, 218, 218, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(155, 114, 250) solid;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

/* -------------Пульсуюча-------------------- */
.pulse-scroll {
  display: inline-flex;
  animation: pulseZoom 1.5s infinite;
  position: relative;
  background-color: rgba(218, 218, 218, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(155, 114, 250) solid;
}
@keyframes pulseZoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* ------------- Падаюча-------------------- */
.fade-scroll {
  display: inline-flex;
  animation: fadeSlide 1.5s infinite;
  position: relative;
  background-color: rgba(218, 218, 218, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(155, 114, 250) solid;
}
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* ------------- Блимаюча-------------------- */
.blink-scroll {
  display: inline-flex;
  animation: blink 1s infinite;
  position: relative;
  background-color: rgba(218, 218, 218, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(155, 114, 250) solid;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ------------- Міксована-------------------- */
.miks-scroll {
  display: inline-flex;
  position: relative;
  background-color: rgba(253, 255, 160, 0.678);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px rgb(0, 183, 255) solid;
  animation: bounce 1s 6, swing 1s 6s 6, pulseZoom 1s 12s infinite;
}
/*swing працює амплітудою 1сек. через 6сек. 6разів, потім запуск. pulseZoom через 12сек. нескінченно.*/
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(450deg);
  }
}
@keyframes pulseZoom {
  0%,
  100% {
    transform: scale(0.93);
  }
  50% {
    transform: scale(1.108);
  }
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: orange;
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
}
