body {
  background-image: linear-gradient(rgba(30, 24, 35, 0.4),
   rgba(30, 24, 35, 0.9));
  background-image: url(../img/bg/space.jpg);
  background-repeat: no-repeat; /* не повторювати зображення */
  background-size: cover; /* покриває весь блок */
  background-position: center; /*центрує зображення */
  background-attachment: fixed; /* фіксує фон при прокручуванні*/
}
a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.page-header {
  background-color: #3c489291;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 0 5px 0px #cccccc;
}

.menu {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

.menu-link {
  display: block;
  min-width: 100px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid #ff0000;
  color: #000000;
  background: #e7e4e4;
}

/* 
  :hover
  :focus
  :active
*/

.menu-link:hover,
.menu-link:focus {
  color: #ffffff;
  background-color: #996b6b;
}

.menu-link:active {
  color: teal;
}
.description {
  width: 800px;
  color: rgb(82, 80, 83);
  background-color: #ffffffa4;
  border-radius: 15px;
  margin: 40px auto;
  padding: 40px;
}
.description:hover {
  color: rgb(140, 0, 255);
}

.current-menu-link {
  color: #ffffff;
  background-color: #360101;
}

/* 
Універсальний селектор
Селектор тега
Селектор по id
Селектор класа
Селектор нащадка
Дочірній селектор
*/

/* 
Універсальний селектор
*/

/* 
* {
  box-sizing: border-box;
} 
*/

/* Селектор тега */

/* 
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
*/

/* Селектор по id */

/* #title {
  color: teal;
}

#first-description,
#second-description {
  color: yellowgreen;
} */

/* Селектор класа */
/* .main-title {
  color: teal;
}

.description {
  color: tomato;
} */

/* Селектор нащадка */

/* .page-header .menu-link {
  color: teal;
}

.page-footer .menu-link {
  color: tomato;
} */

/* Дочірній селектор */
/* .list-item {
  font-size: 20px;
  color: teal;
}

.list > .list-item {
  color: tomato;
} */

/* Каскадність */

/* .main-title {
  font-size: 18px;
}

@media (min-width: 768px) {
  .main-title {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 28px;
  }
} */

/* Cпецифічність */

/* 10 */
/* .main-title {
  color: teal;
} */

/* 1 */
/* h1 {
  color: tomato !important;
} */

/* 100 */
/* #title {
  color: yellowgreen;
} */

/* 11 */
/* body .main-title {
  color: aquamarine;
} */

/* Наслідування */

/* .main-title {
  color: yellowgreen;
} */

/* body {
  color: teal;
}  */
/* 
a {
  color: inherit;
}  */
