/* color: #383838; */
/* color: #979090; */
/* color: #aaa7a7; */
/* color: #dbd5d5; */

body {
	background-color: #dbd5d5;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
h1{
display: flex;
justify-content: center;
margin: 10px;
color: #383838;

}

a {
  color: inherit;    
  text-decoration: none; 
}


body {
  font-family: sans-serif;
	font-size: large;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

header{
margin: 15px;
padding: 20px;
background-color: #979090;
border: 1px solid #383838;
border-radius: 15px;
box-shadow:  0 1px 10px rgba(255, 218, 9, 0.527);  
}
.header-menu {
	display: flex;
  justify-content: space-between;

}
.header-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
border:1px solid #383838;
border-radius:  15px;
background-color: #dbd5d5;
		box-shadow:
    /* 0 1px 20px rgba(255, 218, 9, 0.527),   зовнішня м’яка тінь */
		 /* 110px 0 100px rgba(0, 217, 255, 0.527),   зовн тінь stars */
    inset 0 4px 8px rgba(0, 0, 0, 0.6), /* внутрішнє затемнення зверху */
    inset 0 -4px 6px rgba(255, 255, 255, 0.6);     /* внутрішнє світло знизу */
  transition: transform 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.header-item:hover{
background-color:	#aaa7a7;
border: 1px solid #ffffff;
color: #ffffff;
}

.header-link {
 padding: 15px 50px;
  /* /* border-radius: 16px; */
  /* border: 1px solid #ff0000; */
 
}